numpy
pandas
scikit-learn
matplotlib
tqdm
tensorflow
tf2onnx>=1.16.0
onnx>=1.14.0
onnxruntime>=1.16.0
protobuf>=3.20.0
torch>=2.0.0
transformers>=4.40.0
fastapi
uvicorn[standard]
jupyter
notebook
ipykernel
onnxscript