ipython
tornado==6.1
jupyter-client==7.3.2
jupyter-contrib-core
jupyter-contrib-nbextensions
psycopg2-binary
yapf
websockets
falcon
uvicorn
aiohttp
celery
redis
flower
redistimeseries
tensorflow
numpy
matplotlib
pandas
ipykernel
scikit-learn