class_project/**/data/*.sqlite
class_project/**/data/*.db
class_project/**/data/*.csv
/class_project/MSML610/FALL2025/projects/UmdTask44_Fall2025_Haiku_Sentiment_Analysis_on_Product_Reviews/data/*.sqlite
/class_project/MSML610/FALL2025/projects/UmdTask44_Fall2025_Haiku_Sentiment_Analysis_on_Product_Reviews/data/*.db
/class_project/MSML610/FALL2025/projects/UmdTask44_Fall2025_Haiku_Sentiment_Analysis_on_Product_Reviews/data/*.csv
/class_project/MSML610/FALL2025/projects/UmdTask44_Fall2025_Haiku_Sentiment_Analysis_on_Product_Reviews/data/*.sqlite
/class_project/MSML610/FALL2025/projects/UmdTask44_Fall2025_Haiku_Sentiment_Analysis_on_Product_Reviews/data/*.db
/class_project/MSML610/FALL2025/projects/UmdTask44_Fall2025_Haiku_Sentiment_Analysis_on_Product_Reviews/data/*.csv
