alpaca-py>=0.43.2
certifi>=2023.7.22
gymnasium
ipykernel>=6.29.0
ipython>=8.0.0
matplotlib-inline>=0.1.0
numba>=0.50.0
numpy>=1.21.0
pandas>=2.0.0
pip>=23.0
polygon-api-client>=1.0.0
python-dotenv>=0.19.0
requests>=2.25.0
scikit-learn>=1.0.0
scipy>=1.7.0
TA-Lib>=0.6.5
tensorboard>=2.10.0
textblob>=0.15.0
torch>=2.0.0
tyro>=0.5.0
urllib3>=1.26.0
wheel>=0.37.0
cleanrl>=1.0.0