# Ignore local dataset + backups
images/
autokeras_latest_backup/

# Ignore large AutoKeras artifacts
image_classifier/

# Ignore Jupyter + Python noise
.ipynb_checkpoints/
__pycache__/
.virtual_documents/

