# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Model files
models/

# Datasets
data/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Temporary files
*.log
*.tmp
markdown/fine_tuned_live/
