# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
dist/
build/

# Environment
.env
.env.*

# VS Code
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Logs
*.log

# Virtual Environment
venv/
env/
ENV/
.venv/

# Azure CLI cache
.azure/

# PyCharm
.idea/
